<html><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Create Application</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .entry:not(:first-of-type)
        {
            margin-top: 10px;
        }

        .glyphicon
        {
            font-size: 12px;
        }

        .col-centered {
            float: none;
            margin: 0 auto;
        }

    </style>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="row" style="height: 100px";></div>
        <div class="row">
            <div class="control-group col-centered col-sm-6" id="fields">
                <div class="controls">
                    <form class="form-horizontal" method="post" action="{% url 'create-application-submit' %}">
                        <fieldset>

                            <!-- Form Name -->
                            <legend>Create Application</legend>

                            <!-- Text input-->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="appName">Application Name</label>
                                <div class="col-md-4">
                                    <input id="appName" name="appName" type="text" placeholder="" class="form-control input-md" required="">

                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-4 control-label" for="isPrivate"></label>
                                <div class="col-md-4">
                                    <div class="checkbox">
                                        <label for="isPrivate">
                                            <input type="checkbox" name="isPrivate" id="isPrivate" value="1">
                                            Private?
                                        </label>
                                    </div>
                                </div>
                            </div>

                            {% csrf_token %}

                            {% if succeeded %}
                            <h1>{{ token }}</h1>
                            {% endif %}

                            <!-- Button -->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="create-app"></label>
                                <div class="col-md-4">
                                    <button id="create-app" name="create-app" class="btn btn-primary">Create</button>
                                </div>
                            </div>

                        </fieldset>
                    </form>

                </div>
        </div>
    </div>
    </div>
</body>
</html>