<html><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Create Event</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .entry:not(:first-of-type)
        {
            margin-top: 10px;
        }

        .glyphicon
        {
            font-size: 12px;
        }

        .col-centered {
            float: none;
            margin: 0 auto;
        }

    </style>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div class="row" style="height: 100px";></div>
    <div class="row col-centered col-md-5">
        {% if succeeded %}
        <div class="alert alert-success" role="alert">
            Event created! </br></br>
            Your event URL: <a href="{{ ev_url }}">{{ ev_url }}</a>
        </div>
        {% else %}
        <div class="alert alert-danger" role="alert">
            Event could not be created! </br></br>
            {% if error %}
            Error: {{ error }}
            {% else %}
            Please try again.
            {% endif %}
        </div>
        {% endif %}

    </div>
</div>

</body></html>