<html><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Resource Details</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .entry:not(:first-of-type)
        {
            margin-top: 10px;
        }

        .glyphicon
        {
            font-size: 12px;
        }

        .col-centered {
            float: none;
            margin: 0 auto;
        }

    </style>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div class="row" style="height: 100px";></div>
    <div class="row"><h2>Resource: {{ resource.name }}</h2></div>
    <div class="row">
        <h3>Events
            <a href="{% url 'create-event' %}?token={{ token }}&res={{ resource.slug }}"><span class="glyphicon glyphicon-plus" style="font-size: 0.8em;" aria-hidden="true"></span></a>
        </h3>
    </div>
    <div class="row">
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>Event Name</th>
                    <th>Private?</th>
                    <th>Condition</th>
                    <th>URL</th>
                </tr>
            </thead>
            <tbody>
            {% for ev in events %}
                <tr>
                    <td><a href="{% url 'event-detail' ev.slug %}">{{ ev.name }}</a></td>
                    <td>{{ ev.is_private|yesno:"Yes,No,-" }}</td>
                    <td>{{ ev.condition }}</td>
                    <td>{{ ev.url }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
</body>
</html>



















